In [ ]:
print ('coffee')

coffee

In [ ]:
x,y=5,10
(x*y)
id(x)
id(y)
x+5,y+2
x,y=x+10,y+5
x,y
print (x,y)

15 15

In [ ]:
print (547*8)

4376

In [ ]:
In[3]:x=10
In[4]: print (x)
In[5]:print(x+x)
In[6]:print(x*x)
In[7]: print (x-x)
In[7]: print(x)

10
20
100
0
10

In [ ]:
x=5
print(x)
y=3
print(y)
print(x+y)
print(x*y)
print (x-y)
print (y-x)
print (x//y)

5
3
8
15
2
-2
1

In [ ]:
x=y=z=10
print (x)
print (y)
print (z)
print(x+y)
print(x+y+z)
print (x+y-z)
print (x-y-z)
print (x+y-z)

10
10
10
20
30
10
-10
10

In [ ]:
a,b=5,10
print (a)
print (b)
print (a*b)
print (b+a)
print (a-b)
print (b-a)
print (b//a)
print (a//b)

5
10
50
15
-5
5
2
0

In [ ]:
x,y=15,20
print (x,y)
x,y=y,x
print (x,y)

15 20
20 15

In [ ]:
a,b,c=5,10,15
b,c,a=a+1,b+2,c-1
print (a,b,c)
a,b=a-2,b+5
print (a,b)
print (a,b,c)

14 6 12
12 11
12 11 12

In [ ]:
p,q=3,5
q,r=p-2,p+2
print (p,q,r)

3 1 5

In [ ]:
x=10
y,y=x+2,x+5
print (y)

15

In [ ]:
x=10
y,x=x+5,x+x
print (x,y)
x,y=x-1,y+3
print (y,x)

20 15
18 19

In [ ]:
x,x=20,30
print (x)
x,y=x-5,y+5
print (x,y)

30
25 31

In [ ]:
x=10
print (x)
print(id(x))

10
9793376

In [ ]:
a=5
print (a)
print (id(a))
a=5+7
print (a)
print (id(a))

5
9793216
12
9793440

In [ ]:
a,b=10,20
print (a)
print (b)
print (a+b)
print (id(a))
print (id(b))
print (id(a+b))
print (a-b)
print (id(a-b))
print (a//b)
print (id(a//b))
a=50
print (a+b)
a,b=0,5
print (a-b)
print (id(b))
print (id(a-b))

10
20
30
9793376
9793696
9794016
-10
139998367334960
0
9793056
70
-5
9793216
9792896

In [ ]:
x,y=3,6
print (x,y)
print (type(x))
print (type (y))
print (y-x)
print (type(x-y))

3 6
<class 'int'>
<class 'int'>
3
<class 'int'>

In [ ]:
p,q=0.5,0.5
print (p)
print (q)
print (p+q)
print (id(p))
print (id(q))
print (id(p+q))
print (type (p))
print (type (q))
print (type (p+q))
print (p+1)
print (p+q)
p,q=p+1,q+1
print (p,q)
print (type(p))
print (p+q)

0.5
0.5
1.0
139998367336464
139998367336464
139998367337616
<class 'float'>
<class 'float'>
<class 'float'>
1.5
1.0
1.5 1.5
<class 'float'>
3.0

In [ ]:
c="pencil"
print (c)
print (id(c))
print (type (c))
c=a+50
print (c)
print (id(c))
print (type (c))
print (c)
c="pencil"
print (type (c))
print (id(c))

pencil
139998416824048
<class 'str'>
50
9794656
<class 'int'>
50
<class 'str'>
139998416824048

In [ ]:
x,x=20,30
y,y=x+10,x+10
print (x,y)
y=x+5
print (y)

30 40
35

In [ ]:
x=0
print (x)
x=30
print (x)
x="coffee"
print (x)
x,x=30,"coffee"
print (x)
x,y=10,"coffee"
print (x)
print (y)
x,y=x+5,x-5
print (x,y)
x,y=x+1,y+1
print (x)
print (y)

0
30
coffee
coffee
10
coffee
15 5
16
6